<div *ngIf="items.length === 0">El carrito está vacío.</div>


<table>
    <thead>
        <tr>
            <th>PRODUCTO</th>
            <th>PRECIO</th>
            <th>CANTIDAD</th>
            <th>TOTAL</th>
            <th></th>   
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items" class="cart-item">
            <td>  
                <h3>{{ item.product.title }}</h3>
                <img [src]="item.product.image" alt="{{ item.product.title }}" width="50">
            </td>
            <td>{{item.product.price}}</td>
            <td>
                <input type="number" id="cantidad{{item.product.id}}" (input)="onCantidadChange($event, item)" min="1" [value]="item.quantity">
            </td>
            <td>
                <p>{{ item.product.price * item.quantity }}</p>
            </td>
            <td>
                <button (click)="eliminarProducto(item.product)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="total">
    
</div>

<div class="checkout-buttons">
    <a href="#" class="button site-btn">CONTINUE SHOPPING</a>
    <a href="#" class="button site-btn">UPDATE CART</a>
</div>

<div class="checkout-button-container">
    <p class="checkout-total-p">SubTotal : ${{ total }}</p> 
    <p class="checkout-total-p">Total : ${{ total }}</p>
    <button (click)="confirmarCompra()" class="checkout-button site-btn">Confirmar compra</button>
</div>



