<div class="site">
  <header class="header">
    <div class="container-gen">
      <div class="row">
        <div class="col-xl-3">
          <div class="header-logo">
            <a [routerLink]="['home']" [routerLinkActive]="['active']">
              <img src="../assets/images/logo.png" alt="logo">
            </a>
          </div>
        </div>

        <div class="col-xl-6">
          <nav class="header-menu">
            <ul>
              <li routerLinkActive="active">
                <a [routerLink]="['home']">
                  home
                </a>
              </li>

              <li>
                <a [routerLink]="['/category', 'men']">
                  Men's
                </a>
              </li>

              <li>
                <a [routerLink]="['/category', 'women']">
                  Women's
                </a>
              </li>

              <li>
                <a>
                  contact
                </a>
              </li>
              <li>
                <a>
                  <a routerLink="/carrito">Carrito</a>
                </a>
              </li>
              <li>
                <a>
                  <a routerLink="/new-product">Agregar Producto</a>
                </a>
              </li>
            </ul>

          
            
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="header-right">
            <div class="header-right-log">
              <a href="#" class="lg">Login</a>
              <a href="#">Register</a>
            </div>

            <ul class="header-right-icon">
              <li>
                <span class="icon_search"></span>
              </li>
              <li>
                <span class="icon_heart_alt"></span>
              </li>
              <li>
                <span class="icon_bag_alt"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

</div>
