<section class="category-section">
  <div class="container-gen">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="category-item category-left set-bg bg-left">
          <div class="category-lt category-txt">
            <h1>Women's fashion</h1>
            <p>
              Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore edolore magna aliquapendisse ultrices gravida.
            </p>
            <a [routerLink]="['/categoria', 'women']">shop now</a>

          </div>
          
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="category-item set-bg bg-right1">
              <div class="category-rt category-txt">
                <h4>Men's fashion</h4>
                <p>358 items</p>
                <a [routerLink]="['/categoria', 'men']">shop now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="category-item set-bg bg-right2">
              <div class="category-rt category-txt">
                <h4>Electronics</h4>
                <p>358 items</p>
                <a [routerLink]="['/categoria', 'electronics']">shop now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="category-item set-bg bg-right3">
              <div class="category-rt category-txt">
                <h4>Cosmetics</h4>
                <p>358 items</p>
                <a [routerLink]="['/categoria', 'cosmetics']">shop now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="category-item set-bg bg-right4">
              <div class="category-rt category-txt">
                <h4>Jewelry</h4>
                <p>358 items</p>
                <a [routerLink]="['/categoria', 'jewelry']">shop now</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    
    </div>
  </div>
</section>

<section class="product-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="section-tittle">
          <h4>new products</h4>
        </div>
      </div>

      <div class="col-lg-8 col-md-8">
        <ul class="filter-control"> 

          <li *ngFor="let categoria of categorias"
            (click)="filtrarProductos(categoria)"
            [ngClass]="{'selected': categoria === categoriaSeleccionada}">
            {{ categoria }}
          </li>

        </ul>
      </div>

    </div>

    <div class="row gallery">
      <!-- Example of a product -->
      
      <!-- <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-item">
          <div class="smp-img1 product-img set-bg"></div>
          <div class="product-item-text">
            <h6>Buttons tweed blazer</h6>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-price"> $ 59.0</div>
          </div>
        </div>
      </div> -->
      <div *ngFor="let producto of listaDeProductos" class="col-lg-3 col-md-4 col-sm-6">
        <app-producto [producto]="producto" class="pad-ext"></app-producto>
      </div>

      <!-- @for ( producto of listaDeProductos; track producto.id){ 
        <app-producto [producto]="producto" class="col-lg-3 col-md-4 col-sm-6 pad-ext"></app-producto>
      } @empty {
        <p>No existen productos</p>
      } -->

    </div>

  </div>
</section>

<section class="banner-section set-bg banner-img">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-8 m-auto">
        <div class="banner-slider owl-carousel owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage cesp">
              
              <div class="owl-item td">
                <div class="banner-item">
                  <div class="banner-text">
                    <span>The Chloe Collection</span>
                    <h1>Next Summer</h1>
                  </div>
                </div>
              </div>

              <div class="owl-item td">
                <div class="banner-item">
                  <div class="banner-text">
                    <span>The Chloe Collection</span>
                    <h1>Next Summer</h1>
                  </div>
                </div>
              </div>

              <div class="owl-item td">
                <div class="banner-item">
                  <div class="banner-text">
                    <span>The Chloe Collection</span>
                    <h1>Next Summer</h1>
                  </div>
                </div>
              </div>
              
              <div class="owl-item td">
                <div class="banner-item">
                  <div class="banner-text">
                    <span>The Chloe Collection</span>
                    <h1>Next Summer</h1>
                  </div>
                </div>
              </div>

              <div class="owl-item td">
                <div class="banner-item">
                  <div class="banner-text">
                    <span>The Chloe Collection</span>
                    <h1>Next Summer</h1>
                  </div>
                </div>
              </div>

              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>